<h2>Yeni Rol Yarat</h2>

<form method="post">
    <div class="form-group">
        <label for="roleName">Rol adı</label>
        <input type="text" name="roleName" id="roleName" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Yarat</button>
</form>
